@import "./variables.scss";
@import "./equipo.scss";
@import "./clientes.scss";
@import "./contacto.scss";
@import "./servicios.scss";
@import "./reset.scss";

@mixin flexbox($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin background ($repeat, $size) {
    background-repeat: $repeat;
    background-size: $size;
}

@mixin media-query-mobile {
    @media (max-width: 480px) {
        @content;
    }
}

header {
    @include flexbox(center, center);
    display: flex;
    height: 85px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    font-family: Tahoma, sans-serif;
    .ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
    .list-item a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: $color-primario;
        padding: 35px;
    }
}

.list-item a:hover {
    color: $color-secundario;
}

#banner_small {
    display: flex;
    flex-direction: row;
    background-image: url(../images/mkt2.jpg);
    height: 100px;
    @include background (no-repeat, cover);
}

#banner_medium {
    display: flex;
    flex-direction: row;
    background-image: url(../images/mkt2.jpg);
    height: 200px;
    @include background (no-repeat, cover);
}

#banner3 {
    display: flex;
    flex-direction: row;
    background-image: url(../images/banner-miembros.jpeg);
    height: 200px;
    @include background (no-repeat, cover);
}

#hero {
    width: 100%;
    height: 50vh;
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .h1-container {
      padding: 50px;
    }
    .h1 {
      font-size: 85px;
      font-weight: 300;
      color: $color-primario;
      @include media-query-mobile() {
        font-size: 30px;
        padding: 35px;
        }
    }
    .p-container {
      padding: 35px;
    .p {
      color: $color-primario;
      font-size: 20px;      
      @include media-query-mobile() {
        align-items: center;
        padding: 0px;
        font-size: 25px;
        justify-content: center;
            }   
        }
    }
}

.rrss {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.cta-button {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
    overflow: hidden;
    position: relative;
  
    &:focus {
      outline: none;
    }
  
    .cta-link {
      color: #333;
      display: block;
      padding: 15px 30px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
  }
  
  .cta-button:hover {
    .cta-link {
      background-color: $color-secundario;
      color: $color-primario;
      transform: scale(1.05);
    }
  }

  .sobre-nosotros {
    @include flexbox(center, center);
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    gap: 20px;
    padding: 100px;
    background-image: url(../images/mkt2.jpg);

    & h2 {
      background-color: $color-primario;
      color: $color-secundario;
      padding: 10px;
    }
  
    & h3 {
      font-size: medium;
      background-color: rgb(228, 228, 228)
    }

    & h2:hover {
        transform: rotateZ(90deg);
        transition: all 1s ease;
    }
  }

  .nos-eligen {
    @include flexbox(center, center);
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    gap: 20px;
    padding: 100px;

    & h2 {
      background-color: $color-terciario;
      color: $color-secundario;
      padding: 10px;
    }
  
    & h3 {
      font-size: medium;
    }

    & h2:hover {
        transform: rotateZ(90deg);
        transition: all 1s ease;
    }
  }

#agendar {
    text-align: center;
}

.navbar-nav .nav-item {
    margin-right: 100px;
}

footer{
    text-align: center;
    padding: 20px;
    height: 500px;
}

$grid-columns: 3;
$grid-rows: 2;

.grid-container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: repeat($grid-rows, 1fr);
  padding: 20px;
  grid-template-areas:
    "grid-item-1 grid-item-2 grid-item-3"
    "grid-item-1 grid-item-2 grid-item-3";

  .grid-item {
    &-1 {
      grid-area: grid-item-1;
    }

    &-2 {
      grid-area: grid-item-2;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-3 {
      grid-area: grid-item-3;
    }

    & h2 {
        color: $color-terciario;
    }

    & h2:hover {
        color: $color-secundario;
    }

    & h3 {
        font-size: medium;
    }
  }
}

@media (max-width: 480px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .cta-button {
       width: 85%;
    }
}



@media (max-width: 480px) {
    .sobre-nosotros {
    flex-direction: column;
    padding: 50px;
    }
}

@media (max-width: 480px) {
    .nos-eligen {
    flex-direction: column;
    padding: 50px;
    }
}

@media (min-width: 481px) {
    .navbar-toggler {
      display:block;
    }
  }

  @media (max-width: 480px) {
    header {
        display: block
    }
}

@media (max-width: 480px) {
    header ul {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    header .list-item {
        color: $color-primario;
        background-color: $color-secundario;
        padding: 7px;
    }
}    