@mixin media-query-mobile {
    @media (max-width: 480px) {
        @content;
    }
  }

@mixin flexbox ($fd, $jc, $mb) {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.cliente {
    display: flex;
    @include flexbox(row, center, 50px);

    @include media-query-mobile() {
        flex-direction: column;
    }
}

.cliente-texto {
    width: 50%;
    background-color: rgb(214, 214, 214);
    color: rgb(0, 0, 0);
    padding: 50PX;
    align-items: center;

    @include media-query-mobile() {
        width: 100%;
        text-align: center;
        padding: 50px;
    } 
}

.cliente-imagen {
    width: 50;
    height: 50;
    padding: 50px;
  
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      }

      &:hover {
        transform: scale(1.1);
        transition: all 1s ease;
      }
}

.cliente-b {
    display: flex;
    @include flexbox(row, center, 50px);
    background-image: url(../images/banner-miembros.jpeg);
    color: $color-primario;

    @include media-query-mobile() {
        flex-direction: column;
    }
}
.conoce {
    background-color: $color-terciario;
    color: $color-primario;
    font-size: large;
    text-align: center;
    padding: 30px;

    h2 {
    @media (max-width: 480px) {
            font-size: medium;
        }
    }
}