@mixin media-query-mobile {
  @media (max-width: 480px) {
      @content;
  }
}

.contacto {
    text-align: center;
    padding: 50px;
}

.contacto-b {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    background-color: rgb(199, 199, 199);

    @include media-query-mobile() {
      flex-direction: column;
    }
} 

.horarios {
    padding: 50px;
}
  
.redes {
    padding: 50px;
    text-align: center;
    
    .redes-sociales {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        
    li {
        margin: 0 10px;
      
    img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.donde-estamos-a {
  background-color: rgb(199, 199, 199);
  color: $color-secundario;
  font-size: large;
  text-align: center;
  padding: 30px;
}

.donde-estamos-b {
    display: flex;
    background-image: url(../images/mkt2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}