.miembro {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include media-query-mobile() {
        flex-direction: column;
        align-items: center;
    }
}

.miembro-texto {
    width: 50%;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    color: $color-secundario;
    padding: 50PX;

    @include media-query-mobile() {
        width: 85%;
        padding: 50px;
    }

    h2 {
        font-size: medium;
    }
}

.miembro-imagen {
    width: 20%;
    height: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        transform: scale(1.1);
        transition: all 1s ease;
    }

    @include media-query-mobile() {
        width: 85%; 
        max-width: 200px; 
        height: auto;
        padding: 20px;
    }
}


.miembro2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../images/banner-miembros.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    @include media-query-mobile() {
        flex-direction: column-reverse;
        align-items: center;
    }
}