@mixin flexbox($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
  }
  
@mixin background ($repeat, $size) {
    background-repeat: $repeat;
    background-size: $size;
  }
  
@mixin media-query-mobile {
    @media (max-width: 480px) {
        @content;
    }
  }